server:
  port: 8082

spring:
  application:
    name: auth-serivce
  datasource:
    url: jdbc:postgresql://localhost:5432/authdb
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
jwt:
  secret: "this-is-a-very-long-256-bit-secret-key-for-hs256-auth-service"
  expiration-minutes: 15
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka