server:
  port: 8083
spring:
  application:
    name: mail-service
  data:
    redis:
      host: localhost
      port: 6379
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka